@charset "utf-8";
@import "bourbon";
@import "base/base";
@import "neat";
@import "modules/modules";

body {
  @include span-columns(2);
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: sans-serif; }

