<header class="hero">
  <nav class="global-nav">
    <div class="wrap-container">
      <div class="logo">
        Mint Julep
      </div>
      <ul class="global-nav-items">
        <li class="global-nav-item">
          <a href="/#features-section">Features</a>
        </li>
        <li class="global-nav-item">
          <a href="/#faqs">FAQs</a>
        </li>
        <li class="global-nav-item global-nav-cta">
          Download Now
        </li>
      </ul>
    </div>
  </nav>
  <section class="hero-content">
    <div class="wrap-container">
      <div class="hero-content-text">
        <h1 class="hero-content-text-title">
          A very tasty bourbon theme
        </h1>
        <h3 class="hero-content-text-subtitle">
          Bourbon themes include clean code, flexible modules, and the ability to customize to your liking.
        </h3>
        <p class="primary-cta">
          Get Started
        </p>
      </div>
      <div class="hero-content-image">
        <div class="hero-content-image-background">
          <div class="hero-content-image-main">
          </div>
        </div>
      </div>
    </div>
  </section>
</header>

<section id="features-section">
  <div class="wrap-container padding-container">
    <div class="features-content">
      <h2 class="features-content-title">
        Get Started Quicker
      </h2>
      <p class="features-content-subtitle">
        Bourbon themes include clean code, flexible modules, and the ability to customize to your liking
      </p>
      <ul class="features-block">
        <li class="features-block-item">
          <img src="http://placehold.it/150x150">
          <h5 class="features-block-title">
            Clean Code
          </h5>
          <p>All Speakeasy themes use Sass and are thoughtbot approved.</p>
        </li>
        <li class="features-block-item">
          <img src="http://placehold.it/150x150">
          <h5 class="features-block-title">
            Customization
          </h5>
          <p>We provide stylesheets that are set up for customizations.</p>
        </li>
        <li class="features-block-item">
          <img src="http://placehold.it/150x150">
          <h5 class="features-block-title">
            Asset Packs
          </h5>
          <p>Download asset packs that allow you to edit original illustration files.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="river-section section-background" id="faqs">
  <div class="wrap-container padding-container">
    <div class="river-text-wrapper -left">
      <h2 class="river-item-header">
        Responsively designed with Neat
      </h2>
      <p class="river-item-text">
        Speakesy themes are good to go on any device. Using Neat's semantic grid, it's easy to maintain the look and feel of your site across all platforms.
      </p>
      <p class="primary-cta">
        Learn more
      </p>
    </div>
    <div class="river-graphic-wrapper -right">
        <img src="images/responsive-screens.png" class="river-graphic-item">
    </div>
  </div>
</section>

<section class="river-section">
  <div class="wrap-container padding-container">
    <div class="river-graphic-wrapper -left">
      <img src="images/bourbon-neat-logos.png" class="river-graphic-item">
    </div>
    <div class="river-text-wrapper -right">
      <h2 class="river-item-header">
        What are Speakeasy Themes?
      </h2>
      <p class="river-item-text">
        Speakeasy is a library of themes built using Bourbon, Bitters, and Neat. Everything is created and maintained by the folks at thoughbot. Feel free to fork any themes and submit pull requests, or just download the files and start creating your site!
      </p>
      <p class="primary-cta">
        Learn more
      </p>
    </div>
  </div>
</section>

<footer class="global-footer">
  <div class="wrap-container">
    <ul class="global-footer-items">
      <li class="global-footer-item">
        Features
      </li>
      <li class="global-footer-item">
        FAQs
      </li>
      <li class="global-footer-item">
        Download
      </li>
    </ul>
    <div>© 2015 thoughtbot, inc.
    </div>
  </div>
</footer>

